
.enyo-confirmprompt .enyo-button  {background: #006FFF; color: white;}
.enyo-confirmprompt .enyo-button-negative {background: #FF8B00; color: white;}

a:link {color: #D90000}
a:visited {color: #950000}
a:active {color: #D90000}
a:hover {color: #FA6700}
